*{
    padding: 0;
    margin: 0;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    font-family: sans-serif;
    background-color:rgb(10, 10, 104);
    height: 40px;
}

.navbar a{
    text-decoration: none;
    color: white;
    

}

.menu1{
    margin-top: 10px;
}

.menu2{
    margin-top: 10px; 
}

.menu3{
    margin-top: 10px; 
}

.navbar2{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    font-family: sans-serif;
    background-color: white;
    height: 30px; 
    margin-top: 10px;
}
.bruce a{
    text-decoration: none;
    color:black;
    text-decoration: none;
    color: black;
    font-family: sans-serif;

}
.menu a{
    text-decoration: none;
    color:rgb(14, 14, 124);
    padding: 20px;
   
}

.background { background: url(Images/A\ business\ meeting\ _\ Premium\ AI-generated\ image2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: left; */
    /* align-items: center; */
    

}

.para1 {
    margin-left: 90px ;
    margin-top: 190px;
    width: 50%;
    font-size: 5px;

}

.button1{
    background-color: rgb(14, 14, 124);
    color: white;
    border: 1px solid  rgb(14, 14, 124);
    padding: 5px;
}
.background1{
    color: black;
    font-size: 17px;
}
.background2{
    color: rgb(14, 14, 124); 
    font-size: 20px;
}

.grid1{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 450px 450px 450px;
    gap: 120px;
    width: 95.59%;
    height: 190px;
    padding: 30px;
  
   

}

.qualified{
    width: 90%;
    padding: 20px;
    margin-left: 30px;
    
    background-color: white;
    height: 150px;
    color: rgb(14, 14, 124);
    
}
.satisfaction{
    width: 90%;
    padding: 20px;
    height: 150px;
    background-color: white;
    color: rgb(14, 14, 124);
    border-radius: 2px;
    box-shadow: 2px 2px 12px grey;
    /* box-shadow: box-side box-bottom faint-action color; */
}

.competitive{
    width: 90%;
    padding: 20px;
    height: 150px;
    background-color: white;
    color: rgb(14, 14, 124);

}


.quali2{
    font-size: 10px;
}
.satis2{
    font-size: 10px;
}
.comp2{
    font-size: 10px;
}

.grid2{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 300px; 
    height: 300px;
    gap: 5%;
    padding: 20px;
    margin: 0;
   background-color: white;
   width: 97%;
   background-color: red;

}



.imagetext{
    /* background-color: rgb(236, 53, 7); */
      width: 70%;
}
.imagepart{
    height: 300px;
    
      width: 90%;
}

.image2{
width: 70%;
   margin-left: 220px;
    height: 290px;
     background-color: rgb(236, 53, 7); 
    
}